<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.web>
        <!-- This change only comes into effect during packaging or publication, not during development. -->
        <compilation xdt:Transform="RemoveAttributes(debug)"/>
        <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/error" xdt:Transform="Replace"/>
    </system.web>
</configuration>