@{
    ViewBag.Title = "Forum";
}

<header>
    <div class="row">
        <div class="span12">
            <h2>
                <i class="icon-large th-list"></i> Forum
            </h2>
        </div>
    </div>
</header>

<hr />

<p>
    <span class="label label-info">Heads up!</span> Insert development time here. 
</p>

