<header>
    <div class="row">
        <div class="span12">
            <h2>
                <i class="icon-large list-alt"></i> Item Database
            </h2>
        </div>
    </div>
</header>

<hr />



