@{
    ViewBag.Title = "Edit Details Successful";
}

@Html.Partial("_MySpaceHeader")

<hgroup>
    <h3>Edit Details</h3>

    <h4>Successful</h4>
</hgroup>

<p>
    Your details were successfully updated.
</p>

Return to the @Html.ActionLink("My Space home page", "Index", "MySpace").

