@{
    ViewBag.Title = "Add Member Successful";
}

@Html.Partial("_CorpHeader")

<hgroup>
    <h3>Add Member</h3>

    <h4>Successful</h4>
</hgroup>

<p>
    The new member was successfully added to the corp.
</p>

Return to the @Html.ActionLink("Corp home page", "Index", "Corp").

