
@helper Validation(
    string errorText, 
    System.Web.Mvc.ModelStateDictionary model)
{
    if (model.IsValid)
    {
        return;
    }
     
    <div class="alert alert-error">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <h4>Error</h4>
        <p>
            @errorText
        </p>
        <ul>
            @foreach (var error in model.SelectMany(m => m.Value.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}