@{
    ViewBag.Title = "About Us";
}

<header>
    <h2>
        <i class="icon-large info-sign"></i> About Us
    </h2>
</header>

<hr/>

<article>
    
    <header>
        <h3>Fallen Nova</h3>
    </header>
    
    <p>
        An Eve Online corp looking for new members.
    </p>

</article>
