@{
    ViewBag.Title = "Contact Us Successful";
}

<header>
    <h2>
        <i class="icon-large envelope"></i> Contact Us
    </h2>
</header>

<hr/>

<h3>Successful</h3>

<p>
    Your message was successfully sent.<br />
    <br />
    If it contained a query, and you supplied your email address, we'll respond to you as soon as we can.
</p>

