@{
    ViewBag.Title = "Error";
}

<header>
    <h2>
        Error
    </h2>
</header>

<hr/>

<article>
    
    <header>
        <h3>Something Went Wrong</h3>
        <p>You should have taken that <a href="https://www.youtube.com/watch?gl=GB&hl=en-GB&v=e8TUwHTfOOU">left turn at Albuquerque</a>. Mmmm.</p>
    </header>

</article>
