@{
    ViewBag.Title = "Join";
}

<header>
    <h2>
        <i class="icon-large list-alt"></i> Join
    </h2>
</header>

<hr/>

<section>
    <h3>How to Join</h3>

    <p>
        Go to our main offices in Olo II - Moon 3 - Spacelane Patrol Assembly Plant and click on the  "Apply to Join" button.
    </p>
</section>