@{
    ViewBag.Title = "Log Off";
}

<header>
    <h2>
        <i class="icon-large list-alt"></i> Logged Off
    </h2>
</header>

<hr/>

<p>
    You have successfully logged off. Want to <a href="@Url.Action("Login", "Home")">log in</a> in again?
</p>